<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p [%t] %C{1}#%M - %m %% (%F:%L)%n"/>
		</Console>
	</Appenders>
</Configuration>
